body{
    background-image: url("https://i.pinimg.com/originals/17/3c/1c/173c1c3394277ceace67e8e63a0b7d77.gif");
    background-size: cover;
}
.note{
    background-color: #fef68a;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
    overflow: hidden;
}

.note-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.noteslist{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
}

.note.new{
    background-color: #67d7cc;

}
textarea{
    border: none;
    resize: none;
    background-color: #67d7cc;
}

textarea:focus{
    outline: none;
}
.save{
    background-color: rgb(235, 227, 227);
    border: none;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
}

.save:hover{
    background-color: rgb(49, 45, 45);
    cursor: pointer;
    color: aliceblue;
}
.delete{
    cursor: pointer;
}

.Search{
    display: flex;
    align-items: center;
    background-color: rgb(233,233,233);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 1.5em;

}

.Search input{
    border: none;
    background-color: rgb(233,233,233);
}

.Search input:focus{
    outline: none;
}



@media screen and (max-device-width: 480px) and (orientation: portrait) {
    body{
        background-image: url("https://64.media.tumblr.com/e7f18b59e39a15c8a3b02131e5e13243/tumblr_p5n35wTfJ71rnbw6mo1_640.gif");
        background-size:cover;
    }
    .save{
        size: 150% 150%;
    }    
} 

